//color variables
$primaryColor: #384f4b;
$primaryTextColor: #444444;
$accentColor: #1bbca3;
$primaryBaseColor: #ffff;
$secondaryBaseColor: #f2f5f4;
$altColor: #0e1a18;

// font variables
$navFont: "Poppins", sans-serif;
$primaryFont: "Inter", sans-serif;
$secondaryFont: "Roboto", sans-serif;

// ratio variables
$btnBorderRadius: 3.125rem;
